
body{
    background-color:#02ccfe;
    font-family: roboto, sans-serif;
}
.container{
    
    margin: 5rem auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    background-color: #baedff;
    box-shadow: -5px -18px 56px -3px rgba(196,236,245,1);
}


header{
    border-bottom: 1px solid white;
    padding: 30px;
}
.searchInp{
    width: 80%;
    padding: 15px 10px;
    margin: 7px;
    background-color:#d0eff6 ;
    border: none;
    border-radius: 7px;
    color: #007592;
    font-size: 16px;
    font-weight: 400;
    box-shadow: 9px 11px 24px -11px rgba(0,0,0,0.75);
    outline: none;
}

.searchBtn{
    padding: 15px 10px;
    font-size: 14px;
    font-weight: 700;
    color: rgb(227, 248, 248);
    border: none;
    border-radius: 7px;
    background-color: rgb(98, 208, 255);
    box-shadow: 9px 11px 24px -11px rgba(0,0,0,0.75);
    
    cursor: pointer;
}

.searchBtn:hover{
    transition: all ease-in-out 4ms;
    background-color: #e2f9fe;
    color: rgb(98, 208, 255);
}
.weather-situation h1{
    color: #1fd1fe;
    text-shadow: 8px -1px 15px rgb(251, 249, 249);
    font-size: 48px;
    margin: 20px 0;
}

.weather-situation p{
    color: rgb(113, 113, 110);
}

.weather-situation p strong{
    color:#3d83bd;
}
.weather-details{
    display: flex;
    justify-content: space-between;
}

.weather-temp{
    display: flex;
    margin-top: 15px;
}
.weather-temp-icon{
    font-size: 28px;
    width: 90%;
    
}
.weather-temp-num{
    font-size: 70px;
    font-weight: 700;
    color: #22caf9;
    text-shadow: 8px -1px 10px rgba(251, 249, 249, 0.6);
    
}

.weather-temp-unit{
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
    color:#22caf9;
}

a{
    color:#3d83bd;
    text-decoration: none;
}

a:hover{
    font-weight: 700;
    text-decoration: underline;
    color: rgb(251, 255, 255);
}
footer{
    border-top: 1px solid white;
    padding: 30px;
    text-align: center;
    font-size: 13px;
}