
body{
    background-color:rgb(176, 171, 154);
    font-family: roboto, sans-serif;
}
.container{
    
    margin: 5rem auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    background-color: rgb(235, 235, 212);
    
}

