
body{
    background-color:rgb(176, 171, 154);
    font-family: roboto, sans-serif;
}
.container{
    
    margin: 5rem auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    background-color: #7E7663;
    box-shadow: 9px 27px 24px -11px rgba(0,0,0,0.75);
}
a{
    color: rgb(176, 171, 154);
    
}
header{
    border-bottom: 1px solid white;
    padding: 30px;
}
.searchInp{
    width: 80%;
    padding: 15px 10px;
    margin: 7px;
    background-color:rgb(176, 171, 154) ;
    border: none;
    border-radius: 7px;
    color: white;
    box-shadow: 9px 11px 24px -11px rgba(0,0,0,0.75);
}

.searchBtn{
    padding: 15px 10px;
    border: none;
    border-radius: 7px;
    background-color: rgba(212, 204, 175, 0.865);
    box-shadow: 9px 11px 24px -11px rgba(0,0,0,0.75);
    cursor: pointer;
}
.weather-situation h1{
    font-size: 48px;
    margin: 20px 0;
}

.weather-situation p{
    opacity: 0.5;
}

.weather-situation p strong{
    color: rgb(74, 49, 16);
}
.weather-details{
    display: flex;
    justify-content: space-between;
}

.weather-temp{
    display: flex;
    margin-top: 15px;
}
.weather-temp-icon{
    font-size: 28px;
    width: 90%;
    
}
.weather-temp-num{
    font-size: 70px;
    font-weight: 700;
    color: rgb(83, 55, 19);
    
}

.weather-temp-unit{
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
    color:rgb(78, 48, 8)
}
footer{
    border-top: 1px solid white;
    padding: 30px;
    text-align: center;
    font-size: 13px;
}